Library
Logs
Temp
ProjectSettings/ProjectVersion.txt
Assembly-CSharp.csproj
UserSettings/Layouts/default-2021.dwlt
UserSettings/EditorUserSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/EditorBuildSettings.asset
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Assets/Prefabs/Enemy.prefab
Assembly-CSharp.csproj
.vsconfig
.vs/witchs/v18/.suo
.vs/witchs/FileContentIndex/15118837-2222-4cbf-81c9-936469c0a39f.vsidx
Assembly-CSharp.csproj
Assets/Prefabs/Enemy.prefab
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersion.txt
Assembly-CSharp.csproj
